@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.swiper {
  width: 100%;
  height: 85%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 25px !important;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-pagination {
  color: white;
}

.swiper-pagination-bullet-active-main {
  background-color: white !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
